<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402774384012-a1q2rlfrpjhgqvdorep1h3gjnjfa2bnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402774384012-a1q2rlfrpjhgqvdorep1h3gjnjfa2bnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBemyRBw6GCDr1sRUf1UH0HafdAS0AeIRU</string>
	<key>GCM_SENDER_ID</key>
	<string>402774384012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mbilarus.webrtc</string>
	<key>PROJECT_ID</key>
	<string>webrtc-a9dca</string>
	<key>STORAGE_BUCKET</key>
	<string>webrtc-a9dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402774384012:ios:a94d996faeb5546e068aa9</string>
</dict>
</plist>